/* YOUR CUSTOM STYLES */
body {
	font-size: 16px;
	color: #282828;
	overflow: hidden;
	max-width: 100%;
}

header {
	width: 100%;
}
.header-img {
	width: 100%;
}
main {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.extra-margins {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}
.navbar {
	background-color: #3b3b3f;
}
footer.page-footer {
	background-color: #3b3b3f;
	margin-top: 2rem;
	padding: 5px 20px;
}
#passport, #passport_sm {
	background-image: url(../passport/images/177357656.jpg);
	height: 450px;;
	background-size: cover;
	background-position: bottom;
}
#passport_sm {
	height: 300px;
}
.passport {
	color: #ffffff;
	font-size: 3em;
	font-weight: 400;
	margin-top:100px;
}

.passport-item {
	margin-bottom:20px;
}
.logo {
	margin-top: 20px;
	margin-left: 40px;
}
.intro {
	background-color: rgba(255, 255, 255, .90);
	margin: 20px;
	padding: 20px;
	border-radius: 3px;
}
.top-space {
	margin-top: 20px;
}
.bottom-space {
	margin-bottom: 20px;
}
.avatar  {
	height: 150px !important;
}
.tier1 {
	background-color: #A11B68;
}
.tier2 {
	background-color: #22788A;
}
.tier3 {
	background-color: #6E8B11;
}
.tier4 {
	background-color: #CB6911;
}
.btn-text {
	font-size: .8em !important;
	padding: 5px 20px !important;
	
}
textarea.md-textarea {
	min-height: 225px;
	font-size: .85em;
	color: #838383;
}
.rounded-circle {
	border-radius: 50% !important;
}
.card-title {
	margin-right: 25px;
}
.card-block {
	padding-bottom:80px;
	position:relative;
}
.card-block ul {
	margin-left:0px;
}
.btn-submit {
	position:absolute;
	margin-left:-1.25rem;
	margin-right:-1.25rem;
	bottom:10px;
	width:100%;
	text-align:center;
}
#myReflection .modal-dialog {
	width:80% !important;
	max-width:900px;
}
#myReflection .modal-body {
	padding-top:50px;
}

#myReflection .modal-body textarea {
	margin-bottom:30px;
}
#studentview, #moderatorview {
	display: none;
}
/* accordion styling */
.panel-title {
	font-size: 1.1em;
	text-transform: uppercase;
	padding: 20px;
}
.panel-title a {
	color: #f1f1f1;
}
.panel-default {
	border-color: #595959;
	background-color: #595959;
	margin-bottom: 5px;
} 
.panel-body {
	background-color: #ffffff;
	padding: 20px 10px;
}
.panel-body h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
}
/* end of accordion styles */
.color-box {
	width: 200px;
}
.pad-left {
	padding-left: 20px;
}
.pad-top {
	padding-top: 10px;
}
.well {
	border: 1px solid #e1e1e1;
	padding: 20px;
	box-shadow: 1px 1px 1px 1px #e1e1e1;
}
