<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Week 1 Introduction</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../css/plugins/bootstrap.min.css">
<link rel="stylesheet" href="../css/plugins/bootstrap-theme.min.css">
<link rel="stylesheet" href="../css/plugins/bootstrap-accessibility.css">

<!-- Customized theme -->
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/mobile.css">

<!-- Customized fonts -->
<link href="../css/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- jQuery Version 1.11.3 -->
<script src="../js/plugins/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../js/plugins/bootstrap.min.js"></script>
<script src="../js/plugins/bootstrap-accessibility.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="../js/html5shiv.js"></script>
        <script src="../js/respond.min.js"></script>
    <![endif]-->
<style></style>
</head>

<body role="document" id="main" >
<header>
  <h1>Occupational Research</h1>
  <div class="strip"></div>
  <div class="headerMod"> <span>3</span>
    <div class="triangle-right"></div>
  </div>
</header>
<div class="container" role="main">
  <div class="row">
    <div class="col-sm-12">
      <div class="container" role="main"> 
        <!-- Typography -->
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-10 col-sm-offset-1 intro_container">
              <div class="bar"></div>
              <h2 class="text-center">Introduction</h2>
              <p class="mod_des">This week will give you the opportunity to learn more about research methods and data in an academic context, to equip you to properly conduct research for assignments; in a professional context, to give you a better understanding of your profession in the community; and also in a personal context, to help you with decision-making, goal setting, and in your ongoing pursuit of knowledge and excellence as a lifelong learner. With help from Library personnel and the Learning Commons, you will learn tips on how to successfully navigate Conestoga’s Learning Resource Centre (LRC), select suitable research materials, and use APA@Conestoga to document your sources. These skills and resources will be needed to successfully complete your written assignments in GCM2000.</p>
            </div>
            <div class="col-sm-10 col-sm-offset-1 intro_container">
              <div class="mod_obj brd_top col-sm-10 col-sm-offset-1">
                <h2 class="text-center">Learning Outcomes</h2>
                <div class="mod_obj">
                  <ul class="fa-ul checklist">
                    <li><i class="fa-li fa fa-check"></i>Apply a four-step research process.</li>
                    <li><i class="fa-li fa fa-check"></i>Recall the advantages of using Library resources for research.</li>
                    <li><i class="fa-li fa fa-check"></i>List a number of resource types available through the Library and Internet.</li>
                    <li><i class="fa-li fa fa-check"></i>Recognize what constitutes plagiarism.</li>
                    <li><i class="fa-li fa fa-check"></i>Identify how to cite source materials using APA@Conestoga.</li>
                    <li><i class="fa-li fa fa-check"></i>Investigate occupations and employers using available resources.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container -->

<div class="footer">
  <p>&copy; 2016 Conestoga College. All rights reserved.</p>
</div>

<!-- EOF: footer -->

</body>
</html>