<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template - Static elements</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins/bootstrap-accessibility.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css">
    <link rel="stylesheet" href="../css/plugins/fontawesome/css/font-awesome.min.css">

</head>

<body>

    <!-- Start Container -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Template - Static elements</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <p>Brown, well known for his work in the field of Sexuality and media links (2002, 2005), suggests that there are four ways that the media impacts us:</p>
                <div class="row">
                    <div class="col-sm-2">
                        <h3 aria-hidden="true"><span class="circle circle-med bg primary-bg pull-left">1.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">1.</span> By keeping sexual behaviour on public and personal agendas</h3>
                        <p>News media keeps sexuality in our faces, making spectacles of issues in such a way as to make us think they are bigger and more common than they really are.</p>
                    </div>
                </div>
                <div class="row">
                   <div class="col-sm-2 col-sm-push-10">
                        <h3 aria-hidden="true"><span class="circle circle-med pull-right bg secondary-bg">2.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">2.</span> By reinforcing a relatively consistent set of sexual and relationship norms</h3>

                        <ul>
                            <li>Consider the effects of soap operas. What roles are prescribed regularly for men and women? The defined social roles are stereotypical and adhere to societal ideals of what is feminine and masculine.</li>
                            <li>Sexual explicit and varied behaviours are exposed as normal and common, whether they are in fact or not.</li>
                        </ul>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3 aria-hidden="true"><span class="circle circle-med pull-left bg accent02-bg">3.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">3.</span> By rarely including sexually responsible models</h3>

                        <p>When was the last time you saw a sitcom, movie or drama where passionate exchanges included discussion and practice of safe sex?</p>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-2 col-sm-push-10">
                        <h3 aria-hidden="true"><span class="circle circle-med pull-right bg accent04-bg">4.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">4.</span> By serving as a sexual super peer in the lives of adolescents</h3>

                        <ul>
                            <li>Early maturing adolescent girls are particularly affected by the sexualization of mass media. They have been found to seek out sexual content in movies, television, music and magazines. This finding is consistent across age and culture.</li>
                            <li>It is a concern because it is a powerful influence that lacks sexually healthy messages due to the nature of the sites teens most commonly visit.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>The media has great power when it comes to the messages society will receive about human sexuality. Further research must assess specifically which circumstances, content and effects are within their control.</p>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <br>
</body>

</html>

