<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins/bootstrap-accessibility.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css">
    <link rel="stylesheet" href="../css/plugins/fontawesome/css/font-awesome.min.css">

</head>

<body>

    <!-- Start Container -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Page Title</h1>
            </div>
        </div>

        <!-- START ROW -->
        <div class="row">
            <div class="col-sm-12">

            </div>

        </div>
        <!-- END ROW -->

    </div>
    <!-- End Container -->
    <!-- jQuery Version 1.11.0 -->
    <script src="../js/plugins/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../js/plugins/bootstrap.min.js"></script>
    <script src="../js/plugins/bootstrap-accessibility.min.js"></script>

    <!-- Custom JS Functions -->
    <script src="../js/main.min.js"></script>

    <!-- Page-Level Demo Scripts - Notifications - Use for reference -->
    <script>
        // tooltip demo
        $('.tooltips').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

         // popover demo
         $("[data-toggle=popover]")
            .popover()
    </script>
</body>

</html>

