<p><img src="/content/enforced/97967-GCM200_Master/images/discussion.jpg" alt="" title="" style="float: left; padding-right: 12px;" />Once you have completed the three online assessments and one in-class assessment, post your answers to this week’s discussion questions, in <strong>250-400</strong> words, in your group discussion forum. Be sure to post a reply to each team member’s postings as well.</p>
<p><span>&nbsp;</span></p>
<p><strong>Please answer the following questions for your initial post</strong></p>
<p></p>
<ol>
<li>What is the purpose of the self-assessment process in career planning? Summarize what assessments you completed and provide a brief overview of what you learned?</li>
<li>Describe your interests, as discovered in the self-awareness assessments you have completed. What did you discover to be your strongest interests? How have you demonstrated each one?</li>
<li>Describe your technical, industry-specific, and transferable skills (see Ontario Skills Passport). Which did you discover to be your strongest technical, industry, and/or transferable skills? </li>
<li>4.	Identify what information you are missing and would like to learn.</li>
</ol>
<p><strong>Please post a reply to each team member&rsquo;s post.</strong></p>
<p>You are encouraged to contribute to the ongoing conversation from your reply or other member&rsquo;s replies. Ensure that you post a reply to each team member at a minimum, and adhere to the ground rules for creating a safe and supportive academic environment.</p>
<p><strong>Note</strong><span>: Always compile and save your work in a word processing program first and then copy and paste your work accordingly.</span></p>