<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Icons Available for use</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins/bootstrap-accessibility.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css">
    <link rel="stylesheet" href="../css/plugins/fontawesome/css/font-awesome.min.css">

</head>

<body>

    <!-- Start Container -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Icons Available for use</h1>
            </div>
        </div>

        <!-- START ROW -->
        <div class="row">
            <div class="col-sm-3">
                <h2>Ask the Instructor</h2>
                <img src="../img/icons/ask-instructor.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Assignment</h2>
                <img src="../img/icons/assignment.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Checklist</h2>
                <img src="../img/icons/checklist.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Discussion</h2>
                <img src="../img/icons/discussions.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h2>Dropbox</h2>
                <img src="../img/icons/dropbox.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Exercise</h2>
                <img src="../img/icons/excercises.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Game</h2>
                <img src="../img/icons/game.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Important Note/Tip</h2>
                <img src="../img/icons/important-Note.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h2>Print</h2>
                <img src="../img/icons/print.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Question</h2>
                <img src="../img/icons/question.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Quiz</h2>
                <img src="../img/icons/quiz.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Schedule</h2>
                <img src="../img/icons/schedule.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h2>Survey</h2>
                <img src="../img/icons/surveys.png" alt="">
            </div>
            <div class="col-sm-3">
                <h2>Video</h2>
                <img src="../img/icons/video.png" alt="">
            </div>
            <div>
            </div>

        </div>
        <!-- END ROW -->


    </div>
    <!-- End Container -->
</body>

</html>
