<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template - Static elements</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins/bootstrap-accessibility.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css">
    <link rel="stylesheet" href="../css/plugins/fontawesome/css/font-awesome.min.css">

</head>

<body>

    <!-- Start Container -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Template - Static elements</h1>
            </div>
        </div>
        <div class="row col-sm-12">
            <h2>Colours</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="colour primary-bg col-sm-3">.cc-hs-core01
                        <br>#007298</div>
                    <div class="colour secondary-bg col-sm-3">.cc-hs-core02
                        <br>#00848E</div>
                </div>
                <div class="col-sm-12">
                    <div class="colour accent01-bg col-sm-3">.cc-hs-accent01
                        <br>#3EBFAC</div>
                    <div class="colour accent02-bg col-sm-3">.cc-hs-accent02
                        <br>#B8412D</div>
                    <div class="colour accent03-bg col-sm-3">.cc-hs-accent03
                        <br>#CDAA7F</div>
                    <div class="colour accent04-bg col-sm-3">.cc-hs-accent04
                        <br>#5C666F</div>
                </div>
                <div class="col-sm-12">
                    <div class="colour neutral01-bg col-sm-3">.cc-hs-neutral01
                        <br>#1E242B</div>
                    <div class="colour neutral02-bg col-sm-3">.cc-hs-neutral02
                        <br>#C6C8CA</div>
                    <div class="colour neutral03-bg col-sm-3">.cc-hs-neutral03
                        <br>#FBDBC5</div>
                    <div class="colour neutral04-bg col-sm-3">.cc-hs-neutral04
                        <br>#F1F1F1</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Grid Example!</h2>
                <p><strong>*An example of how content can be chunked on the page*</strong>
                </p>
                <p><strong>*Any sized pieces can be used in combination as long as the total adds up to 12*</strong>
                </p>
                <h3>2 (Piece Size) x 6 = 12</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">|----------||----------||----------||----------||----------|</div>
            <div class="col-sm-2">|----------||----------||----------||----------||----------|</div>
            <div class="col-sm-2">|----------||----------||----------||----------||----------|</div>
            <div class="col-sm-2">|----------||----------||----------||----------||----------|</div>
            <div class="col-sm-2">|----------||----------||----------||----------||----------|</div>
            <div class="col-sm-2">|----------||----------||----------||----------||----------|</div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>3 (Grid Size) x 4 = 12</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">|----------||----------||----------||----------||----------||----------||----------|</div>
            <div class="col-sm-3">|----------||----------||----------||----------||----------||----------||----------|</div>
            <div class="col-sm-3">|----------||----------||----------||----------||----------||----------||----------|</div>
            <div class="col-sm-3">|----------||----------||----------||----------||----------||----------||----------|</div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>4 (Grid Size) x 3 = 12</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">|----------||----------||----------||----------||----------||----------||----------||----------||----------||----------|</div>
            <div class="col-sm-4">|----------||----------||----------||----------||----------||----------||----------||----------||----------||----------|</div>
            <div class="col-sm-4">|----------||----------||----------||----------||----------||----------||----------||----------||----------||----------|</div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>6 (Grid Size) x 2 = 12</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">|----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------|</div>
            <div class="col-sm-6">|----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------||----------|</div>
        </div>
        <!-- START ROW -->
        <div class="row">
            <div class="col-sm-12">
                <h2>Headings</h2>
                <h1>Heading 1</h1>
                <h2>Heading 2 </h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h2>Sample Text</h2>
                <p>This is an example of standard paragraph text. This is an example of <a href="#">link text</a> within body copy.</p>
                <p><a href="http://google.ca" target="_blank">This is an external link <span class="sr-only">opens in new window</span><i class="fa fa-external-link"></i></a>
                </p>
                <h3>Sample Paragraph</h3>
                <p>Craft beer Truffaut four loko, retro hashtag quinoa typewriter actually tofu 3 wolf moon. Mustache vinyl pickled, shabby chic tattooed Pitchfork Brooklyn YOLO ugh Marfa leggings crucifix. Semiotics Neutra bespoke, retro hashtag blog master cleanse. Lo-fi fap blog tattooed bespoke small batch. Vinyl flannel freegan, church-key readymade occupy meggings distillery fanny pack narwhal actually. Next level vinyl organic, DIY chia asymmetrical readymade tousled farm-to-table Truffaut trust fund. Bushwick Tonx art party vegan, typewriter crucifix pork belly normcore Kickstarter semiotics aesthetic.</p>

                <p>
                    <small>This is an example of small, fine print text.</small>
                </p>
                <p>
                    <strong>This is an example of strong, bold text.</strong>
                </p>
                <p>
                    <em>This is an example of emphasized, italic text.</em>
                </p>
                <h3>Blockquote</h3>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </small>
                </blockquote>
                <h3>Lists</h3>

                <h4>Ordered List</h4>

                <ol>
                    <li>
                        list item
                        <ol type="i">
                            <li>
                                list item
                            </li>
                        </ol>
                    </li>

                    <li>
                        list item
                    </li>
                </ol>

                <h4>Unordered List</h4>

                <ul>
                    <li>
                        list item
                        <ul>
                            <li>
                                list item
                            </li>
                        </ul>
                    </li>

                    <li>
                        list item
                    </li>
                </ul>

                <div class="checkedlist">
                    <h4>Checklist</h4>
                    <ul class="fa-ul checklist">
                        <li><i class="fa-li fa fa-check"></i>List Item</li>
                        <li><i class="fa-li fa fa-check"></i>List Item</li>
                        <li><i class="fa-li fa fa-check"></i>List Item</li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- Tables -->
        <div class="row">
            <div class="col-sm-12">
                <h2>Tables</h2>
                <h3>Kitchen Sink (borders and stripes)</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Oliver</td>
                            <td>The Otter</td>
                            <td>@OtterOli</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pete</td>
                            <td>The Pig</td>
                            <td>@PiggyPete</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Basic Table</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Oliver</td>
                            <td>The Otter</td>
                            <td>@OtterOli</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pete</td>
                            <td>The Pig</td>
                            <td>@PiggyPete</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Striped Rows</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Oliver</td>
                            <td>The Otter</td>
                            <td>@OtterOli</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pete</td>
                            <td>The Pig</td>
                            <td>@PiggyPete</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Bordered Table</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Oliver</td>
                            <td>The Otter</td>
                            <td>@OtterOli</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pete</td>
                            <td>The Pig</td>
                            <td>@PiggyPete</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End of Tables -->
        <!-- Content Boxes -->
        <div class="row">
            <div class="col-sm-12">
                <h2>Callout Boxes</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="callout">
                    <h3>Callout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. <a href="#">Sample link</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="callout secondary-bg">
                    <h3>Callout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla.</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="callout accent02-bg">
                    <h3>Callout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla.</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="callout accent04-bg">
                    <h3>Callout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla.</p>
                </div>
            </div>


        </div>
        <!-- End of Content Boxes -->

        <div class="row">
            <div class="col-sm-12">
                <h2>Two Column Panels</h2>
                <div class="two-panels">
                    <div class="col-sm-6 col-s-6 back01 from">
                        <h2>From</h2>
                        <ol>
                            <li>Lorem ipsum dolor sit amet, vis utinam commodo persius ne.</li>
                            <li>Lorem ipsum dolor sit amet, vis utinam commodo persius ne.</li>
                            <li>Lorem ipsum dolor sit amet, vis utinam commodo persius ne.</li>
                        </ol>
                    </div>
                    <div class="col-sm-6 back02">
                        <h2>To</h2>
                        <ol>
                            <li>The quick brown fox jumps over a lazy dog.</li>
                            <li>The quick brown fox jumps over a lazy dog.</li>
                            <li>The quick brown fox jumps over a lazy dog.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Left and Right aligned elements</h2>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12">
                <p>Brown, well known for his work in the field of Sexuality and media links (2002, 2005), suggests that there are four ways that the media impacts us:</p>
                <div class="row">
                    <div class="col-sm-2">
                        <h3 aria-hidden="true"><span class="circle circle-med bg primary-bg pull-left">1.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">1.</span> By keeping sexual behaviour on public and personal agendas</h3>
                        <p>News media keeps sexuality in our faces, making spectacles of issues in such a way as to make us think they are bigger and more common than they really are.</p>
                    </div>
                </div>
                <div class="row">
                   <div class="col-sm-2 col-sm-push-10">
                        <h3 aria-hidden="true"><span class="circle circle-med pull-right bg secondary-bg">2.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">2.</span> By reinforcing a relatively consistent set of sexual and relationship norms</h3>

                        <ul>
                            <li>Consider the effects of soap operas. What roles are prescribed regularly for men and women? The defined social roles are stereotypical and adhere to societal ideals of what is feminine and masculine.</li>
                            <li>Sexual explicit and varied behaviours are exposed as normal and common, whether they are in fact or not.</li>
                        </ul>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3 aria-hidden="true"><span class="circle circle-med pull-left bg accent02-bg">3.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">3.</span> By rarely including sexually responsible models</h3>

                        <p>When was the last time you saw a sitcom, movie or drama where passionate exchanges included discussion and practice of safe sex?</p>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-2 col-sm-push-10">
                        <h3 aria-hidden="true"><span class="circle circle-med pull-right bg accent04-bg">4.</span></h3>
                    </div>
                    <div class="col-sm-8">
                        <h3><span class="sr-only">4.</span> By serving as a sexual super peer in the lives of adolescents</h3>

                        <ul>
                            <li>Early maturing adolescent girls are particularly affected by the sexualization of mass media. They have been found to seek out sexual content in movies, television, music and magazines. This finding is consistent across age and culture.</li>
                            <li>It is a concern because it is a powerful influence that lacks sexually healthy messages due to the nature of the sites teens most commonly visit.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>The media has great power when it comes to the messages society will receive about human sexuality. Further research must assess specifically which circumstances, content and effects are within their control.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>
</body>

</html>

