<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template - Interactive Elements</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins/bootstrap-accessibility.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css">
    <link rel="stylesheet" href="../css/plugins/fontawesome/css/font-awesome.min.css">

</head>

<body>

    <!-- Start Container -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Template - Interactive Elements</h1>
            </div>
        </div>

        <!-- START ROW -->
        <div class="row">
            <div class="col-sm-12">




                <h2>Tooltips</h2>
                <p class="tooltips">Here's an example of a tooltip <a id="tt-left" data-toggle="tooltip" data-placement="left" title="Tooltip on left">on the left</a>.
                </p>

                <p class="tooltips">Here are examples of tooltips <a id="tt-top" data-toggle="tooltip" data-placement="top" title="Tooltip on top"> on top</a>,
                    <a id="tt-bottom" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">on the bottom</a>,
                    <a id="tt-right" data-toggle="tooltip" data-placement="right" title="Tooltip on right">on the right</a>.
                </p>


                <h2>Popovers</h2>

                <p>Here are examples of popovers <a id="po-top" data-toggle="popover" data-placement="top" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."> on top</a>,
                    <a id="po-bottom" data-toggle="popover" data-placement="bottom" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">on the bottom</a>,
                    <a id="po-right" data-toggle="popover" data-placement="right" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">on the right</a> and <a id="po-left" data-toggle="popover" data-placement="left" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">on the left</a>.
                </p>



            </div>

            <script>
                $('#tt-left').tooltip();
                $('#tt-top').tooltip();
                $('#tt-bottom').tooltip();
                $('#tt-right').tooltip();

                $('#po-left').popover();
                $('#po-top').popover();
                $('#po-bottom').popover();
                $('#po-right').popover();

                $('body').on('click', function (e) {
                    $('[data-toggle="popover"]').each(function () {
                        //the 'is' for buttons that trigger popups
                        //the 'has' for icons within a button that triggers a popup
                        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                            $(this).popover('hide');
                        }
                    });
                });
            </script>

        </div>
        <!-- END ROW -->



        <div class="row col-sm-12">
            <h2>Buttons</h2>
            <h3>Regular</h3>
            <button class="btn btn-custom1 btn-lg">
                Large Button
            </button>
            <button type="button" class="btn btn-custom1 btn-lg disabled">Disabled Large Button</button>
            <button class="btn btn-custom1">
                Button
            </button>
            <button type="button" class="btn btn-custom1 disabled">Disabled Button</button>
            <h3>Circle</h3>

            <button class="btn btn-custom1 btn-circle btn-xl">
                XL
            </button>
            <button class="btn btn-custom1 btn-circle btn-lg">
                L
            </button>
            <button class="btn btn-custom1 btn-circle">
                R
            </button>
        </div>

        <!-- Accordion -->
        <div class="row">
            <div class="col-sm-12">
                <h2>Accordion</h2>
                <h3>Accordion Regular</h3>
                <div class="panel-group" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading active">
                            <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                    Collapsible Group Item #1 <b class="opened"></b>
                  </a>
                </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                    Collapsible Group Item #2 <b class="closed"></b>
                  </a>
                </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                    Collapsible Group Item #3 <b class="closed"></b>
                  </a>
                </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <!-- Accordion: Steps -->

        <h3>Accordion Steps</h3>

        <div class="panel-group collapse-steps" id="accordion2">
            <div class="row">
                <div class="col-sm-1">
                    <button type="button" class="btn btn-circle btn-lg btn-collapse" data-toggle="collapse" data-target="#collapse-step1" aria-expanded="false" aria-controls="collapse-step1">1</button>
                </div>
                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-step1">
                    Step 1 <b class="closed"></b>
                  </a>
                </h4>
                        </div>
                        <div id="collapse-step1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, populo nominati deterruisset ne vel, no populo docendi conceptam mel, eu ferri soleat percipitur eum. Consul perfecto interpretaris in has, ea mel nibh deserunt maiestatis. Nec dicit doming ex, fabulas verterem ea nam. Ea pri clita virtute, vim no elitr option. Elit probo mei id, pro ne error tempor vituperata.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <button type="button" class="btn btn-circle btn-lg btn-collapse" data-toggle="collapse" data-target="#collapse-step2" aria-expanded="false" aria-controls="collapse-step2">2</button>
                </div>
                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-step2">
                    Step 2 <b class="closed"></b>
                  </a>
                </h4>
                        </div>
                        <div id="collapse-step2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>Compare your potential hazard against legislation, standards and guidelines that apply to the workplace</li>
                                    <li>Assess the risk and prioritize which hazards to work on first
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, populo nominati deterruisset ne vel, no populo docendi conceptam mel, eu ferri soleat percipitur eum. Consul perfecto interpretaris in has, ea mel nibh deserunt maiestatis. Nec dicit doming ex, fabulas verterem ea nam. Ea pri clita virtute, vim no elitr option. Elit probo mei id, pro ne error tempor vituperata.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button type="button" class="btn btn-circle btn-lg btn-collapse" data-toggle="collapse" data-target="#collapse-step3" aria-expanded="false" aria-controls="collapse-step3">3</button>
                </div>
                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-step3">
                    Step 3 <b class="closed"></b>
                  </a>
                </h4>
                        </div>
                        <div id="collapse-step3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, populo nominati deterruisset ne vel, no populo docendi conceptam mel, eu ferri soleat percipitur eum. Consul perfecto interpretaris in has, ea mel nibh deserunt maiestatis. Nec dicit doming ex, fabulas verterem ea nam. Ea pri clita virtute, vim no elitr option. Elit probo mei id, pro ne error tempor vituperata.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Accordion -->
        <!-- Tabs -->
        <div class="row">
            <div class="col-sm-12">

                <h2>Tabs</h2>
                <h3>Horizontal Tabs</h3>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-style">
                    <li class="active"><a href="#scenario1" data-toggle="tab">Scenario #1</a>
                    </li>
                    <li><a href="#scenario2" data-toggle="tab">Scenario #2</a>
                    </li>
                    <li><a href="#scenario3" data-toggle="tab">Scenario #3</a>
                    </li>
                    <li><a href="#scenario4" data-toggle="tab">Scenario #4</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="scenario1">
                        <h3>Scenario 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="scenario2">
                        <h3>Scenario 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="scenario3">
                        <h3>Scenario 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="scenario4">
                        <h3>Scenario 4</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#scenario1 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });

            $('#scenario2 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })

             $('#scenario3 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });

            $('#scenario4 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        </script>
        <!-- End of Tabs -->
        <!-- Vertical Tabs -->
        <div class="row vertical-tabs">
            <div class="col-sm-12">
                <h3>Vertical Tabs</h3>
            </div>
            <div class="col-sm-3">
                <!-- Nav tabs -->
                <ul class="nav" role="tablist">
                    <li class="active"><a href="#scenario5" data-toggle="tab" class="circle">Scenario #1</a>
                    </li>
                    <li class=""><a href="#scenario6" data-toggle="tab" class="circle">Scenario #2</a>
                    </li>
                    <li class=""><a href="#scenario7" data-toggle="tab" class="circle">Scenario #3</a>
                    </li>
                    <li class=""><a href="#scenario8" data-toggle="tab" class="circle">Scenario #4</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="scenario5">
                        <h3>Scenario 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="scenario6">
                        <h3>Scenario 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="scenario7">
                        <h3>Scenario 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="scenario8">
                        <h3>Scenario 4</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Proin pretium, nisi quis tristique egestas, erat nisl commodo orci, dapibus iaculis nisl tellus quis elit. Cras convallis rhoncus laoreet. Maecenas egestas interdum libero lacinia pharetra. Nullam tincidunt sem in lorem pharetra rutrum. Nunc nec bibendum sapien. Aliquam ultricies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#scenario5 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });

            $('#scenario6 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })

             $('#scenario7 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });

            $('#scenario8 a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        </script>
        <!-- End of V Tabs -->
        <!-- Flip Cards -->
        <div class="row">
            <div class="col-sm-12">
                <h2>Flip Cards</h2>
                <p>The sample flip cards as follows:</p>
                <ol>
                    <li>Standard card - Front: text at bottom with background image / Back: Text</li>
                    <li>Alternate 1 - Front: Image / Back: Text</li>
                    <li>Alternate 2 - Front: text at top with background image / Back: Image</li>
                </ol>
                <p>Styling and options can be mixed as per course requirements</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <!-- Begin Flip Card 1 -->
                <div id="card01" class="card" role="button" tabindex="0">
                    <div class="face front">
                        <h3>Flip Card 1</h3>
                    </div>
                    <div class="face back">
                        <p>This is the back of the first flip card.</p>
                    </div>
                </div>
                <!-- End Flip Card 1 -->
                <!-- Begin Flip Card 2 -->
                <div id="card02" class="card" role="button" tabindex="0">
                    <div class="face front">
                                               <img src="images/relax.jpg" title="Flip Card 2" alt="Flip Card 2" class="img-responsive">
                    </div>
                    <div class="face back">
                        <p>This is the back of the second flip card.</p>
                    </div>
                </div>
                <!-- End Flip Card 2 -->
                <!-- Begin Flip Card 3 -->
                <div id="card03" class="card" role="button" tabindex="0">
                    <div class="face front">
                        <h3>Flip Card 3</h3>
                    </div>
                    <div class="face back">
                        <img src="images/cell.jpg" alt="Placeholder image for back of third flip card" title="Placeholder image for back of third flip card" class="img-responsive">
                    </div>
                </div>
                <!-- End Flip Card 3 -->
            </div>
        </div>

        <!-- End of Flip Cards -->

        <br>
    </div>
    <!-- End Container -->
    <!-- jQuery Version 1.11.0 -->
    <script src="../js/plugins/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../js/plugins/bootstrap.min.js"></script>
    <script src="../js/plugins/bootstrap-accessibility.min.js"></script>

    <!-- Custom JS Functions -->
    <script src="../js/main.min.js"></script>

    <!-- Page-Level Demo Scripts - Notifications - Use for reference -->
    <script>
        // tooltip demo
        $('.tooltips').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

         // popover demo
         $("[data-toggle=popover]")
            .popover()
    </script>
    <script>
        $('#accordion1 .panel-collapse').on('show.bs.collapse', function () {
            var title_elem = $(this).parent('.panel-default').find('.panel-title');
            $('.panel-title').removeClass('active');
            $('.collapse.in').collapse('hide');
            title_elem.addClass('active');
            setIconOpened(title_elem);
        });

        $('#accordion1 .panel-collapse').on('hide.bs.collapse', function () {
            var title_elem = $(this).parent('.panel-default').find('.panel-title');
            title_elem.removeClass('active');
            setIconOpened(null);

        });

         // create a function to set the open icon for the given panel
         // clearing out all the rest (activePanel CAN be null if nothing is open)
        function setIconOpened(activePanel) {
            $('.panel-title').find('b').addClass('closed').removeClass('opened');

            if (activePanel) {
                $(activePanel).find('b').addClass('opened').removeClass('closed');
            }
        }
    </script>
    <script>
        $('#accordion2 .panel-collapse').on('show.bs.collapse', function () {
            var title_elem = $(this).parent('.panel-default').find('.panel-title');
            $('.panel-title').removeClass('active');
            $('.collapse.in').collapse('hide');
            title_elem.addClass('active');
            setIconOpened(title_elem);
        });

        $('#accordion2 .panel-collapse').on('hide.bs.collapse', function () {
            var title_elem = $(this).parent('.panel-default').find('.panel-title');
            title_elem.removeClass('active');
            setIconOpened(null);

        });

         // create a function to set the open icon for the given panel
         // clearing out all the rest (activePanel CAN be null if nothing is open)
        function setIconOpened(activePanel) {
            $('.panel-title').find('b').addClass('closed').removeClass('opened');

            if (activePanel) {
                $(activePanel).find('b').addClass('opened').removeClass('closed');
            }
        }
    </script>
    <script>
        $('.card').on('keypress click', function () {
            $(this).toggleClass('flipped');
        });
    </script>

</body>

</html>

