<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template - Images</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins/bootstrap-accessibility.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css">
    <link rel="stylesheet" href="../css/plugins/fontawesome/css/font-awesome.min.css">

</head>

<body>

    <!-- Start Container -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Template - Images</h1>
            </div>
        </div>

        <!-- Positioned Content Boxes -->
        <div class="row">
            <div class="col-sm-12">
                <h2>Positioned Images - Left and Right</h2>
                <img src="../img/image.png" class="pull-left" alt="">
                <img src="../img/image.png" class="pull-right" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor arcu a feugiat faucibus. Sed accumsan justo at risus sodales, eu suscipit orci fringilla. Praesent viverra, neque sit amet laoreet convallis, elit mi blandit risus, eget porttitor ante nisi vitae nulla.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Round Images with Border</h2>
                <div class="row">
                    <div class="col-sm-4">
                            <img src="images/data.jpg" alt="" class="img-circle dot-brdr accent01-brdr circle">
                    </div>
                    <div class="col-sm-4">
                            <img src="images/data.jpg" alt="" class="img-circle dot-brdr accent01-brdr circle">
                    </div>
                    <div class="col-sm-4">
                            <img src="images/data.jpg" alt="" class="img-circle dot-brdr accent01-brdr circle">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Image Caption (Hover Effect)</h2>

            <div class="row">

                <div class="col-sm-4">
                    <div class="caption-wrapper"  tabindex="0">
                        <figure class="caption-image">
                            <div style="background-image: url('images/consult.jpg')" class="image-container"></div>
                            <figcaption class="caption-title-bg">
                                <div class="caption-title center-vertical">
                                    <strong>Caption</strong>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="col-sm-12 caption-overlay">
                            <div class="caption-overlay-bg">
                                <div class="caption-overlay-content">Lorem ipsum dolor sit amet, vis utinam commodo persius.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="caption-wrapper"  tabindex="0">
                        <figure class="caption-image">
                            <div style="background-image: url('images/system.jpg')" class="image-container"></div>
                            <figcaption class="caption-title-bg">
                                <div class="caption-title center-vertical">
                                    <strong>Caption</strong>
                                </div>
                            </figcaption>
                        </figure>
                            <div class="col-sm-12 caption-overlay">
                                <div class="caption-overlay-bg">
                                    <div class="caption-overlay-content">Lorem ipsum dolor sit amet, vis utinam commodo persius.</div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="caption-wrapper"  tabindex="0">
                        <figure class="caption-image">
                            <div style="background-image: url('images/developer.jpg')" class="image-container"></div>
                            <figcaption class="caption-title-bg">
                                <div class="caption-title center-vertical">
                                    <strong>Caption</strong>
                                </div>
                            </figcaption>
                        </figure>
                            <div class="col-sm-12 caption-overlay">
                                <div class="caption-overlay-bg">
                                    <div class="caption-overlay-content">Lorem ipsum dolor sit amet, vis utinam commodo persius.</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</body>

</html>

