<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
<div style="text-align: center; background-color: black; height: 216px;">
<p style="text-align: center;"><span style="font-size: 12pt; font-family: 'trebuchet ms', helvetica, sans-serif;"><img style="float: left; padding-right: 20px;" src="/content/enforced/97967-GCM200_Master/module_12/images/steve_jobs.jpg" alt="" height="216" width="211" /><span style="color: #ffffff;"></span></span></p>
<p>&nbsp;</p>
<p style="text-align: center; padding-right: 20px;"><span style="font-size: 12pt; font-family: 'trebuchet ms', helvetica, sans-serif;"><span style="color: #ffffff;"><br /><br />Great things in business are never done by one person, they’re done by a team of people.</span></span></p>
<span style="color: #ffffff; font-family: 'courier new', courier, sans-serif;">-- Steve Jobs (Entrepreneur &amp; Inventor) --</span>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right; padding-right: 10px;"><span style="color: #ffffff; font-family: 'courier new', courier, sans-serif; font-size: 9px;">Image Copyright: By Bernhard Goldbach. (February 5, 2005). <a href="https://www.flickr.com/photos/topgold/16474095099/" style="color: #fff; text-decoration: underline;" title="link to source image on Flickr" target="_blank">Remembering Steve Jobs</a>. Licenced under  <a href="https://creativecommons.org/licenses/by/2.0/" style="color: #fff; text-decoration: underline;" title="link to C.C. 2.0 licence" target="_blank">CC by 2.0</a></span></p>
</div>
</body>
</html>
